#header-flat {
  padding: 20px 00;
  border-bottom: 1px solid #B3B3B3
}
#header-flat h2 {
  font-size: 20px;
}
#body-flat{
  background: #F5F5F5
}
#body-flat p #body-flat li {
  font-size: 1px;
  color: #666666
}
